.index-body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

.index-title {
    text-align: center;
}

.html-container a.nav-btn {
    display: block;
    padding: 10px 14px;
    background: #007b23;
    margin: 7px 0;
    border-radius: 6px;
    text-decoration: none;
    color: #000;
}

.html-container a.nav-btn:hover {
    background: #0056b3;
}

.html-container {
    margin-top: 20px;
}

body {
        font-family: "Helvetica Neue", Arial, sans-serif;
        line-height: 1.6;
        max-width: 36em;
        margin: 2em auto;
        padding: 0 1em;
        color: #1a1a1a;
        background-color: #fdfdfd;
        border: 3px solid red !important;
      }
      header, footer {
        text-align: center;
        margin: 2em 0;
      }
      h1 {
        text-align: center;
        color: #222;
      }
      h2, h3 {
        text-align: center;
        color: #222;
        margin-top: 1.5em;
      }
      ol, ul {
        margin: 1em 0;
        padding-left: 1.5em;
      }
      a.button {
        display: inline-block;
        margin: 0.5em;
        padding: 0.4em 1em;
        background-color: #007b23;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 0.9em;
      }
      a.button:hover {
        background-color: #0056b3;
      }
